// Navigation code here
#navlogo {
    display:flex;
    flex-direction: column;
    background-color: lightgrey;
    .logo {
        margin: 0 auto;
        font-size: 4rem;
    }
    nav {
        display:flex;
        flex-direction: row;
        margin: 0 auto;
    }
    
}